/data
/LightsailDefaultKey-eu-west-3.pem
/new_user_credentials.csv
oc-p8-modelling_full.ipynb
donotgit.ipynb
test_01_s3.ipynb
test_02_spark_pi.ipynb
test_03_spark_s3.ipynb
test_04_spark_pca.ipynb
UNUSED/Sample_P8_notebook.ipynb
UNUSED/P8 Setup Notes.ipynb
UNUSED/oc-p8-modelling.ipynb
UNUSED/new_user_credentials.csv
UNUSED/LightsailDefaultKey-eu-west-3.pem
UNUSED/cobbled.ipynb
TO SUBMIT/PHILLIPS_Adam_3_presentation_122022.pdf
TO SUBMIT/PHILLIPS_Adam_2_images_122022.txt
TO SUBMIT/PHILLIPS_Adam_1_notebook_122022.ipynb
TO SUBMIT/Déployez un modèle dans le cloud_Phillips_Adam.zip
test_01_s3.ipynb
test_02_spark_pi.ipynb
Project 08.code-workspace
P8 Setup Notes.ipynb
oc-p8-modelling.ipynb
OC P8 COPY FOR PRESENTATION CODE.ipynb
